* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;

}

h1 {
  font-size: 30px;
  padding: 20px;
  color: palevioletred;
  line-height: 1.5;
  font-weight: 60;
  text-shadow: 4px 4px black;
}

header {
  text-align: center;
  background-color: rgb(121, 121, 121);
  margin: 0 auto;
}

.app {
  background: url(./images/chris-lawton-5IHz5WhosQE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: #6ef0ba;
  border-radius: 5px;
}

.taskCardsWrapper {
  margin: 10px 5%;
  padding: 20px 20px;
}

.inputTitleAreaWrapper {
  margin-bottom: 15px;
  padding: 5px 5px;
  width: 100%;
  cursor: pointer;
}

.inputTitleArea {
  width: 100%;
  border-radius: 3px;
  font-size: 1.1rem;
  border: none;
  outline: none;
}